URxvt.font: xft:SF Mono:style=Regular:size=12
URxvt.internalBorder: 48
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.geometry: 80x24

URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: google-chrome
URxvt.matcher.button: 1

*background: #2b3339
*foreground: #d3c6aa
! Black + DarkGrey
*color0:  #2b3339
*color8:  #859289
! DarkRed + Red
*color1:  #e67e80
*color9:  #e69875
! DarkGreen + Green
*color2:  #a7c080
*color10: #a7c080
! DarkYellow + Yellow
*color3:  #dbbc7f
*color11: #dbbc7f
! DarkBlue + Blue
*color4:  #7fbbb3
*color12: #7fbbb3
! DarkMagenta + Magenta
*color5:  #d699b6
*color13: #d699b6
! DarkCyan + Cyan
*color6:  #83c092
*color14: #83c092
! LightGrey + White
*color7:  #9da9a0
*color15: #d3c6aa
